@font-face {
    font-family: 'Cafe24SsurroundAir';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/Cafe24SsurroundAir/Cafe24SsurroundAir.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Raluka';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegular.ttf') format('truetype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegular.svg#RalukaRegular') format('svg');
    font-display: swap;
}

/* @font-face {
    font-family: 'ReciaSerifDisplay';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/recia/ReciaSerifDisplay.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/recia/ReciaSerifDisplay.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/recia/ReciaSerifDisplay.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/recia/ReciaSerifDisplay.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/recia/ReciaSerifDisplay.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'RalukaRegular';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'RalukaRegular';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularRegular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularRegular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'RalukaRegular';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/RalukaRegular/RalukaRegularBold.ttf') format("truetype");
    font-display: swap;
} */